@model Movie
    @{
        ViewData["Title"] = "Delete Movie";
    }
    <h1>Delete</h1>
    <p>Are you sure you want delete this movie?</p>

    <table class="table">
    <thead>
        <tr>
            <th>
              Title
            </th>
            <th>
                ReleaseDate
            </th>
             <th>
                Genre
            </th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(_ => Model.title)
                </td>
                <td>
                    @Html.DisplayFor(_ => Model.ReleaseDate)
                </td>
                <td>
                     @Html.DisplayFor(_ => Model.Genre)
                </td>
              
            </tr>
    </tbody>
    
</table>
<form asp-action="DeleteConfirm">
    <input type = "hidden" asp-for="id" />
    <a asp-action="Index">Back to List</a>
    <input type="submit" value="Delete" class="btn btn-danger" />
</form>